extends ./layouts/base.pug

include ./mixins/navs/dashhead.pug

include ./mixins/graphs/bar.pug
include ./mixins/graphs/doughnut.pug

include ./mixins/components/table.pug

mixin sntitle(name, icon)
  div.hr-divider.m-t-md.m-b
    h3.hr-divider-content.hr-divider-heading
      span(class=`icon-${icon}`).icon
      = ` ${name}`

mixin sncard(rows)
  each line in [0, 1, 2]
    div.row
      each row, index in rows
        if index >= line * 3 && index < (line + 1) * 3
          div.col-sm-4
            div.panel.panel-default
              div.panel-heading.text-center
                span(class=`icon-${row.icon}`).icon
                = ` ${row.name}`
              +table(row.name.toLowerCase(), row.labels, row.data)

append head
  title Social Networks
  style.
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }

append body
  div.container
    div.row

      // content
      div.col-sm-offset-1.col-sm-10

        // dashhead
        +dashhead('Social Networks', 'Overview', true)
          ul(style="text-transform: capitalize").nav.nav-pills.dashhead-toolbar-item
            li(role="presentation").dropdown
              a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true").dropdown-toggle
                = filters.city === 'all' ? 'All Cities' : filters.city
                span.caret
              ul.dropdown-menu
                li
                  a(href="?city=all&district=all") All Cities
                li(role="separator").divider
                li
                  a(href="?city=madrid&district=all") Madrid
                li
                  a(href="?city=barcelona&district=all") Barcelona
            li(role="presentation").dropdown
              a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true").dropdown-toggle
                = filters.district === 'all' ? 'All Districts' : filters.district
                span.caret
              ul.dropdown-menu
                li
                  a(href=`?city=${filters.city}&district=all`) All Districts
                li(role="separator").divider
                li.dropdown-header Madrid
                li
                  a(href="?city=madrid&district=chamberí") Chamberí
                li.dropdown-header Barcelona
                li
                  a(href="?city=barcelona&district=gràcia") Gràcia

        // check for error
        unless error

          // overview
          div.row.m-t-lg
            div.col-sm-4
              div.w-lg.m-x-auto.text-center
                +doughnut(
                  'Social Networks',
                  'Number of venues by number of social networks',
                  overview.map(row => ({ label: row.count_rrss, value: row.count }))
                )
            div.col-sm-8
              div.w-full.m-x-auto.text-center
                +bar(
                  'Social Networks',
                  'Number of venues by social network',
                  totals.map(row => row.source),
                  [
                    { label: 'Total', data: totals.map(row => row.count), fillColor: '#1ca8dd' },
                    { label: 'New', data: totals.map(row => row.count), fillColor: '#1bc98e' },
                    { label: 'Lost', data: totals.map(row => row.count), fillColor: '#e64759' }
                  ],
                  {
                    scaleOverride: true,
                    scaleSteps: 5,
                    scaleStartValue: 0,
                    scaleStepWidth: Math.ceil(Math.max(...totals.map(row => row.count)) / 5),
                  }
                )

          // top total
          +sntitle('Top Total', 'trophy')
          +sncard([
            { name: 'Twitter', icon: 'twitter', labels: ['Name', 'Score', 'Statuses', 'Evo'], data: topTotal.twitter },
            { name: 'Facebook', icon: 'facebook', labels: ['Name', 'Score', 'Fans', 'Evo'], data: topTotal.facebook },
            { name: 'Foursquare', icon: 'foursquare', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTotal.foursquare },
            { name: 'Yelp', icon: 'yelp', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTotal.yelp },
            { name: 'Tripadvisor', icon: 'tripadvisor', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTotal.tripadvisor },
            { name: 'Michelin', icon: 'star', labels: ['Name', 'Score', 'Stars', 'Evo'], data: topTotal.michelin },
            { name: 'Repsol', icon: 'circle', labels: ['Name', 'Score', 'Suns', 'Evo'], data: topTotal.repsol },
          ])

          // top new
          +sntitle('Top New', 'drink')
          +sncard([
            { name: 'Twitter', icon: 'twitter', labels: ['Name', 'Score', 'Statuses', 'Evo'], data: topNew.twitter },
            { name: 'Facebook', icon: 'facebook', labels: ['Name', 'Score', 'Fans', 'Evo'], data: topNew.facebook },
            { name: 'Foursquare', icon: 'foursquare', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topNew.foursquare },
            { name: 'Yelp', icon: 'yelp', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topNew.yelp },
            { name: 'Tripadvisor', icon: 'tripadvisor', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topNew.tripadvisor },
            { name: 'Michelin', icon: 'star', labels: ['Name', 'Score', 'Stars', 'Evo'], data: topNew.michelin },
            { name: 'Repsol', icon: 'circle', labels: ['Name', 'Score', 'Suns', 'Evo'], data: topNew.repsol },
          ])

          // top trending
          +sntitle('Top Trending', 'direction')
          +sncard([
            { name: 'Twitter', icon: 'twitter', labels: ['Name', 'Score', 'Statuses', 'Evo'], data: topTrending.twitter },
            { name: 'Facebook', icon: 'facebook', labels: ['Name', 'Score', 'Fans', 'Evo'], data: topTrending.facebook },
            { name: 'Foursquare', icon: 'foursquare', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTrending.foursquare },
            { name: 'Yelp', icon: 'yelp', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTrending.yelp },
            { name: 'Tripadvisor', icon: 'tripadvisor', labels: ['Name', 'Score', 'Rating', 'Evo'], data: topTrending.tripadvisor },
            { name: 'Michelin', icon: 'star', labels: ['Name', 'Score', 'Stars', 'Evo'], data: topTrending.michelin },
            { name: 'Repsol', icon: 'circle', labels: ['Name', 'Score', 'Suns', 'Evo'], data: topTrending.repsol },
          ])
        else

          // error message
          p Could not retrieve data, please try again in a few minutes.

append scripts
  script(src="/libs/theme-dashboard/js/chart.min.js")
  script(src="/js/socialnetworks.min.js")