extends ./layouts/base.pug

include ./mixins/navs/dashhead.pug

include ./mixins/components/table.pug
include ./mixins/components/statcard.pug

mixin sntitle(name, icon, collapse)
  div(style="cursor: pointer").hr-divider.p-y
    if collapse
      h3(data-toggle="collapse" data-target=`#${name.toLowerCase()}`).hr-divider-content.hr-divider-heading
        span(class=`icon-${icon}`).icon
        = ` ${name}`
    else
      h3.hr-d.collapse.inivider-content.hr-divider-heading
        span(class=`icon-${icon}`).icon
        = ` ${name}`

mixin sncard(id, collapse, rank, percentiles, kpis, info)
  div(id=id class=(collapse ? 'collapse in' : '')).row
    div.col-sm-4
      div.row.m-b
        div.col-sm-12
          +statcard(rank.label, rank.num, rank.evo, 'text-center', 'primary')
      div.row
        if percentiles.length
          - const [city, total] = percentiles
          div.col-sm-6
            +statcard('Pctl City', city.num, city.evo, 'text-center', city.num === '-' ? 'default' : city.num <= 10 ? 'success' : city.num <= 30 ? 'warning' : 'danger')
          div.col-sm-6
            +statcard('Pctl Total', total.num, total.evo, 'text-center', total.num === '-' ? 'default' : total.num <= 10 ? 'success' : total.num <= 30 ? 'warning' : 'danger')
    div.col-sm-5
      div.row
        if kpis.length
          each kpi in kpis
            div(class=(kpis.length === 1 ? 'col-sm-12' : 'col-sm-6'))
              +statcard(kpi.label, kpi.num, kpi.evo, 'text-center')
    div.col-sm-3
      div.row
        div.col-sm-12
          if info.length
            each i in info
              h5.m-b
                strong= ` ${i.label}:`
                = ` ${i.data}`

append head
  title Social Networks
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css")
  style.
    body {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    #map {
      height: 20em;
    }
    .hr-divider h3:after {
      font-family: "toolkit-entypo";
      content: "\ea45";
    }
    .hr-divider h3.collapsed:after {
      font-family: "toolkit-entypo";
      content: "\ea48";
    }

append body
  div.container
    div.row

      // content
      div.col-sm-offset-1.col-sm-10

        // dashhead
        +dashhead(details.nombre, details.cd_pdv, true)

        // general
        div.row.m-b.m-t-lg
          div(style="text-transform: capitalize").col-sm-4
            div.row
              div.col-sm-12
                h3.m-b-md.m-t-0
                  span.label.label-primary= details.especialidad_ibc
                h5.m-b
                  strong Province:
                  = ` ${details.provincia.toLowerCase()}`
                h5.m-b
                  strong City:
                  = ` ${details.municipio.toLowerCase()}`
                if details.distrito
                  h5.m-b
                    strong District:
                    = ` ${details.distrito.toLowerCase()}`
            div.row
              div.col-sm-12
                div(data-lat=details.lat data-lon=details.lon)#map.w-full
          div.col-sm-7.col-sm-offset-1
            div.panel.panel-default
              +table(
                '',
                ['Reference', 'HL one month', 'HL three months'],
                sales
              )
              unless sales.length
                h4.text-center.m-y No recent sales activity

        // Twitter
        +sntitle('Twitter', 'twitter', true)
        if details['tw.id']
          +sncard(
            'twitter',
            true,
            { label: 'Statuses', num: details['tw.statusesCount'], evo: null },
            [
              { num: details['tw.pctl_mun_statuses_count'], evo: null },
              { num: details['tw.pctl_total_statuses_count'], evo: null }
            ],
            [
              { label: 'Followers', num: details['tw.followersCount'], evo: 0.05 }
            ],
            [
              { label: 'Id', data: details['tw.id'] },
              { label: 'Screen name', data: details['tw.screen_name'] },
              { label: 'Created at', data: details['tw.created_at'] }
            ]
          )
        else
          div#twitter.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Facebook
        +sntitle('Facebook', 'facebook', true)
        if details['fb.id']
          +sncard(
            'facebook',
            true,
            { label: 'Fans', num: details['fb.fanCount'], evo: null },
            [
              { num: details['fb.pctl_mun_fan_count'], evo: null },
              { num: details['fb.pctl_total_fan_count'], evo: null }
            ],
            [],
            [
              { label: 'Id', data: details['fb.id'] }
            ]
          )
        else
          div#facebook.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Foursquare
        +sntitle('Foursquare', 'foursquare', true)
        if details['fs.id']
          +sncard(
            'foursquare',
            true,
            { label: 'Rating', num: details['fs.rating'], evo: null },
            [
              { num: details['fs.pctl_mun_rating'], evo: null },
              { num: details['fs.pctl_total_rating'], evo: null }
            ],
            [
              { label: 'Reviews', num: details['fs.ratingSignals'], evo: 0.05 },
              { label: 'Checkins', num: details['fs.stats.checkinsCount'], evo: 0.05 },
              { label: 'Users', num: details['fs.stats.usersCount'], evo: 0.05 }
            ],
            [
              { label: 'Id', data: details['fs.id'] },
              { label: 'Category', data: details['fs.categories'] }
            ]
          )
        else
          div#foursquare.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Yelp
        +sntitle('Yelp', 'yelp', true)
        if details['yp.id']
          +sncard(
            'yelp',
            true,
            { label: 'Rating', num: details['yp.rating'], evo: null },
            [
              { num: details['yp.pctl_mun_rating'], evo: null },
              { num: details['yp.pctl_total_rating'], evo: null }
            ],
            [
              { label: 'Reviews', num: details['yp.review_count'], evo: 0.05 }
            ],
            [
              { label: 'Id', data: details['yp.id'] },
              { label: 'Categories', data: [details['yp.categories.1'], details['yp.categories.2'], details['yp.categories.3'], details['yp.categories.4'], details['yp.categories.5]']].filter(i => i).join(', ') }
            ]
          )
        else
          div#yelp.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Tripadvisor
        +sntitle('Tripadvisor', 'tripadvisor', true)
        if details['ta.id']
          +sncard(
            'tripadvisor',
            true,
            { label: 'Rating', num: details['ta.rating'], evo: null },
            [
              { num: details['ta.pctl_mun_rating'], evo: null },
              { num: details['ta.pctl_total_rating'], evo: null }
            ],
            [
              { label: 'Reviews', num: details['ta.numReviews'], evo: 0.05 }
            ],
            [
              { label: 'Id', data: details['yp.id'] },
              { label: 'Cuisine', data: details['ta.cuisine'] },
              { label: 'Ranking', data: details['ta.ranking'] }
            ]
          )
        else
          div#tripadvisor.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Michelin
        +sntitle('Michelin', 'star', true)
        if details['mi.id']
          +sncard(
            'michelin',
            true,
            { label: 'Stars', num: details['mi.stars'] !== '0' ? details['mi.stars'] : details['mi.bib'] === 'R' ? details['mi.bib'] : '-', evo: null },
            [
              { num: '-', evo: null },
              { num: '-', evo: null }
            ],
            [],
            [
              { label: 'Id', data: details['mi.id'] }
            ]
          )
        else
          div#michelin.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

        // Repsol
        +sntitle('Repsol', 'circle', true)
        if details['rp.id']
          +sncard(
            'repsol',
            true,
            { label: 'Suns', num: details['rp.rating'], evo: null },
            [
              { num: '-', evo: null },
              { num: '-', evo: null }
            ],
            [],
            [
              { label: 'Id', data: details['rp.id'] }
            ]
          )
        else
          div#repsol.row.collapse.in
            div.col-sm-12
              div.well.text-center
                p No data

append scripts
  script(src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js")
  script(src="/libs/theme-dashboard/js/chart.min.js")
  script(src="/js/socialnetworks_venue.min.js")